body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#630951+0,2c0325+99 */
	background: #630951; /* Old browsers */
	background: linear-gradient(to left, #2c0325 0%, #630951 99%);
	font-size: 1.4em;
	color: #f6e3f6;
	margin: 20px 20px 20px 30px;
	font-family: sans-serif;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 2em;
}
.big-text {
	font-size: 1.5em;
}
ul {
	padding: 0;
	margin: 0 0 0 0;
}
li {
	list-style: none;
	margin: 0;
	padding: 0;
	margin: 1em 0;
}
.wild {
	display: inline-block;
	position: relative;
	opacity: 1;
	padding: 10px 0;
	margin: 5px;
}
a.wild {
	text-decoration: none;
}
.wild-letter {
	position: relative;
	padding: 5px;
	transition: 0.5s;
}
.wild-letter, a {
	text-shadow: 0px 0px 10px currentcolor;
}
a {
	color: #f6e3f6;
	text-decoration: none;
	transition: text-shadow 0.2s;
}
a:hover:not(.wild) {
	text-shadow: 0px 0px 4px currentcolor;
}
.duplicated-container {
    isolation: isolate;
	position: relative;
}
.duplicated {
	position: absolute;
	margin: 0;
	padding: 0;
	mix-blend-mode: difference;
}
.duplicated:first-child {
    position: relative;
}
/* Now that we have duplicated text, hovering and selecting is a fucking
   mess. Do what we can to make it more tolerable. */
.duplicated a {
	text-shadow: none;
	opacity: 1;
	transition: 0.5s;
}
.duplicated:first-child a {
	text-shadow: 0px 0px 10px currentcolor;
}
.duplicated-container:hover .duplicated:last-child a {
	opacity: 0;
}
.duplicated-container:hover .duplicated:first-child a {
	text-shadow: 0px 0px 4px currentcolor;
}
.duplicated:last-child::-moz-selection {
	display: none;
}
.duplicated:last-child::selection {
	display: none;
}
.wrap {
    max-width: 35em;
    margin-left: 1em;
}
#mail-link {
    overflow-wrap: anywhere;
}
