{% extends "it/standard.html" %}

{% block title %}IT Work - Luna Phipps-Costin{% endblock %}
{% block description %}Information Technology work by Luna
Phipps-Costin.{% endblock %}

{% block main %}
<div class="wrap">
	<div class="card">
		<h2>I do Information Technology work within 30 minutes of Kennebunk.</h2>
	</div>
	<div class="card">
		<h2>Contact Me / Schedule Service</h2>
		<p>The best way to reach me is to email me at {{
		"lucidlyluna@gmail.com"|urlize }}. You can also text me at
		<code>207-602-9828</code>. You can also call me at that number, but I
		cannot always pick up.</p><!-- TODO: Ticket forme -->
	</div>
	<div class="card">
		<h2>About me</h2>
		<p>I am a software developer and have developed many
		applications from useful scripts to video games. I'm
		also a computer power-user, and I have set up everything from desktops
		to laptops to routers to servers and even embedded systems. I have experience in Windows, Mac, and
		GNU/Linux. I have electrical experience and have fixed computers from
		many hardware issues
		including BIOS failure from a lightning storm. I am 17, a Junior in high school.
		</p>
		<p>You can also see a more complete list of my <a href="experience">experience</a>.
		</p>
	</div>
	<div class="card">
		<h2>For more information about me, including a list of my work, visit my
			<a href="/">personal homepage</a>.</h2>
	</div>
</div>
{% endblock %}

