{% extends "it/standard.html" %}

{% block title %}Experience - Luna's IT Work{% endblock %}

{% block head %}
	{{ super() }}
	<script
	  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
	  crossorigin="anonymous"></script>
	<script src="/static/slider.js"></script>
{% endblock %}

{% block main %}
<div class="wrap">
	<div class="slider card">
		<ul class="slider-nav">
			<li id="l-hardware">   <a href="#hardware">   Hardware</a><li>
			<li id="l-software">   <a href="#software">   Software</a><li>
			<li id="l-development"><a href="#development">Development</a><li>
		</ul>
		<div class="slides">

			<div class="slide" id="s-hardware">

				<div>
					<h2>Troubleshoot building a computer</h2>
					<p>I have built a number of computers and know how to troubleshoot when
					it doesn't work.</p>
				</div>
				<div>
					<h2>Computer Build</h2>
					<p>I will build a computer for you. This can be cheaper than buying a
					pre-built computer, even with my cost, as I rarely take more than 2
					hours. I have built two computers and helped many others. I've also
					repaired my computer and made improvements countless times.
					</p>
				</div>
				<div>
					<h2>Router Setup</h2>
					<p>I will set up a router with a number of options, for a large network,
					or for personal use. I have experience installing custom firmware. I
					have experience with <a href="https://openwrt.org/">OpenWRT</a>, a free
					software firmware for routers based on GNU/Linux that is extremely
					powerful. I can set this up for you. I can also set up network printing
					on OpenWRT.
					</p>
				</div>
				<div>
					<h2>Embedded Systems</h2>
					<p>I have made a tablet with a <a
						href="https://www.raspberrypi.org/">Raspberry Pi</a>,
					I have experience on that
					platform. I also have experience with
					<a href="https://www.arduino.cc/">Arduino</a>.
					</p>
				</div>
			</div>

			<div class="slide" id="s-software">
				<div>
					<h2>Operating System Issues</h2>
					<p>I have experience in every version of Windows, XP forward.
					I also have experience in Mac OS X. I have experience with
					GNU/Linux, specifically Debian and derived (Ubuntu, gNewSense, etc) and
					Arch (Parabola).
					</p>
				</div>
				<div>
					<h2>Software Programs Issues</h2>
					<p>I have a pretty good understanding of how a lot of programs work
					because I've dabbled in making them. I can diagnose a recurring issue
					with a program not working and I can help out with using it.
					</p>
				</div>
				<div>
					<h2>New Computer Setup</h2>
					<p>I will do the basic gruntwork associated with setting up a computer,
					including Operating System installation, customization, and setup, and
					can choose any specific options given to me. I will install the
					applications listed that need to be installed, as well as basic
					applications everyone should have (Adobe Flash Player, Java, etc.)</p>
				</div>
				<div>
					<h2>Bulk Computer Management</h2>
					<p>If many computers need to be set
					up, I can set them all up. I have pre-made flash drives with Windows 10,
					Debian, and more, and can make them for any operating system requested.
					I can do this far more efficiently than it would by one-at-a-time.</p>
					<p>I can also install software on all computers, or configure them all
					to connect to a network, and more.</p>
				</div>
				<div>
					<h2>Email/Outlook and Other Common Software</h2>
					<p>I am familiar with many common software applications. I can help set
					up these applications, customize them, connect email accounts, POP/IMAP
					forward, and more.</p>
				</div>
			</div>

			<div class="slide" id="s-development">
				<div>
					<h2>I will develop software.</h2>
					<p>I have different pricing for this, based on
					a quote for the software needed. This is a different sort of project,
					and you'll need to contact me and stay in close contact through the
					process. If the software is expected to undergo continued development,
					the cost will be significant. If it can be released until it stops
					working for whatever reason, that can be arranged.</p>
					<p>Generally speaking, I will charge a lump sum for the project.</p>
				</div>
				<div>
					<h2>Platforms</h2>
					<p>I have experience developing for web (HTML5), Windows, Mac, and
					GNU/Linux</p>
					<p>I have over a year of experience in these languages:</p>
					<ul style="margin-left: 30px;">
						<li>Python</li>
						<li>Web (HTML/CSS/Javascript)</li>
						<li>C and C++</li>
						<li>PHP</li>
						<li>Java</li>
						<li>Bash</li>
					</ul>
				</div>
				<div>
					<h2>Scripts</h2>
					<p>I can make small scripts to make everyday things easier.</p>
				</div>
				<div>
					<h2>Website</h2>
					<p>I have experience in web development, interactive
					server-side and client-side with Python/Flask or PHP,
					HTML+CSS, and complex Javascript. I can set up
					servers for you including cloud hosting with Google App
					Engine or on a dedicated server of your own.
					</p>
				</div>
				<div>
					<h2>In-House Corporate Tool</h2>
					<p>I can develop simple neworked or non-networked tools tailored
					specifically to your needs.</p>
				</div>
				<div>
					<h2>Machine Learning</h2>
					<p>I have experience with Machine Learning, I can develop applications
					that classify images or use Natural Language Processing.</p>
				</div>
				<div>
					<h2>Video Game</h2>
					<p>I have build video games 2D and 3D. See my website
					<a href="https://cosinegaming.com/">Cosine Gaming</a> for what I can do.
					</p>
				</div>
				<div>
					<h2>Other</h2>
					<p>I am by no means limited to developing these sorts of applications as
					development is a mostly universal skill. These are just things that I
					have experience with. Just give me your project and I will let you know
					if I can do it.
					</p>
					<p>See <a href="/">my personal homepage</a> for a more complete list of
					my development experience. It includes a link to my
					<a href="https://github.com/CosineP/">GitHub</a> which hosts most of my
					personal projects and my
					<a href="https://github.com/CosineGaming/">Cosine Gaming GitHub</a>
					which hosts all my CG ones.
				</div>
			</div>

		</div>

	</div>

</div>
{% endblock %}

