{% extends "it/standard.html" %}

{% block title %}Experience - Luna's IT Work{% endblock %}

{% block main %}
<div class="wrap">
	<div class="card">
		<h2>Experience</h2>
		<p>My experience includes but is not limited to:
		<ul class="tiles">
			<a href="/it/hardware-diagnosis"><li>
				<h3>Hardware Diagnosis</h3>
				<ul>
					<li>Troubleshooting building a computer</li>
					<li>Lightning storm recovery</li>
				</ul>
			</li></a>
			<a href="/it/hardware-setup"><li>
				<h3>Hardware / Firmware Setup</h3>
				<ul>
					<li>Routers
					<li>Computer build help</li>
					<li>Embedded systems</li>
				</ul>
			</li></a>
			<a href="/it/software-diagnosis"><li>
				<h3>Software Diagnosis</h3>
				<ul>
					<li>Operating system issues</li>
					<li>Software program issues</li>
				</ul>
			</li></a>
			<a href="/it/software-setup"><li>
				<h3>Software Setup / Customization</h3>
				<ul>
					<li>New Computer Setup</li>
					<li>Bulk Computer Management</li>
					<li>Common Software</li>
				</ul>
			</li></a>
			<a href="/it/software-development"><li>
				<h3>Software Development</h3>
				<ul>
					<li>I will develop applications</li>
					<li>Priced differently</li>
				</ul>
			</li></a>
		</ul>
	</div>
</div>
{% endblock %}

