<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<title>Hardware Diagnosis - Luna's IT Work</title>
<link rel="stylesheet" href="/static/it.css" />
</head>
<body>
<nav><a href="/it">Luna's IT Work</a></nav>
<div class="wrap">
	<div class="card">
		<h1>Hardware Diagnosis</h1>
	</div>
	<div class="card">
		<h2>Troubleshoot Building a Computer</h2>
		<p>I have built a number of computers and know how to troubleshoot when
		it doesn't work.</p>
	</div>
	<div class="card">
		<h2>Lightning Storm Recovery</h2>
		<p>My computer once was rendered useless when a power outage caused by a
		lightning storm shut it off unexpectedly. After lots of research, I was
		able to fix it. Because if that, I have a very good understanding of the
		troubleshooting steps required to diagnose a problem of this kind.</p>
	</div>
	<div class="card linkback">
		<a href="/it">Back to IT home</a>
	</div>
</div>
</body>
</html>

