<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<title>Hardware/Firmware Setup - Luna's IT Work</title>
<link rel="stylesheet" href="/static/it.css" />
</head>
<body>
<nav><a href="/it">Luna's IT Work</a></nav>
<div class="wrap">
	<div class="card">
		<h1>Hardware/Firmware Setup</h1>
	</div>
	<div class="card">
		<h2>Computer Build</h2>
		<p>I will build a computer for you. This can be cheaper than buying a
		pre-built computer, even with my cost, as I rarely take more than 2
		hours. I have built two computers and helped many others. I've also
		repaired my computer and made improvements countless times.
		</p>
	</div>
	<div class="card">
		<h2>Router Setup</h2>
		<p>I will set up a router with a number of options, for a large network,
		or for personal use. I have experience installing custom firmware. I
		have experience with <a href="https://openwrt.org/">OpenWRT</a>, a free
		software firmware for routers based on GNU/Linux that is extremely
		powerful. I can set this up for you. I can also set up network printing
		on OpenWRT.
		</p>
	</div>
	<div class="card">
		<h2>Embedded Systems</h2>
		<p>I have made a tablet with a <a
			href="https://www.raspberrypi.org/">Raspberry Pi</a>,
		I have experience on that
		platform. I also have experience with
		<a href="https://www.arduino.cc/">Arduino</a>.
		</p>
	</div>
	<div class="card linkback">
		<a href="/it">Back to IT home</a>
	</div>
</div>
</body>
</html>

