<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<title>IT Work - Luna Phipps-Costin</title>
<link rel="stylesheet" href="/static/it.css" />
<meta name="description" content="Information Technology work by Luna
Phipps-Costin." />
</head>
<body>
<nav><a href="/it">Luna's IT Work</a></nav>
<div class="wrap">
	<div class="card">
		<h2>I do Information Technology work within 30 minutes of Kennebunk.</h2>
	</div>
	<div class="card">
		<h2>Contact Me / Schedule Service</h2>
		<p>The best way to reach me is to email me at {{
		"lucidlyluna@gmail.com"|urlize }}. You can also text me at
		<code>207-602-9828</code>. You can also call me at that number, but I
		cannot always pick up.</p><!-- TODO: Ticket forme -->
	</div>
	<div class="card">
		<h2>Pricing</h2>
		<p>My starting rate for <b>remote service</b> is <b>$35/hr</b>. This requires
		some set up from you and a detailed description of the problem by email
		or text.</p>
		<p>My starting rate for <b>remote service with my setup</b>
		is <b>$35/hr plus 20 dollars</b>. This requires no set up from you and you can
		describe the
		problem in person. I will come to the site and set up a service for me
		to remotely connect, then I will work on the problem from my home.</p>
		<p>My starting rate for <b>on-site service</b> is <b>$45/hr</b>. I will come to
		the site to work. We will have to work out a schedule
		that is compatible with both my and your availability.</p>
		<p>As a rule, I am
		only <b>available between 4:15PM and 11:00PM on weekdays and all day on
		weekends</b>.
		<p>Jobs can include a mix of pricing plans and you can change your
		mind for the remainder of service at any time.</p>
		<p><b>I can make it further than 30 minutes away for an additional $12
		per hour</b>.</p>
		<p>Some jobs, such as hardware jobs, will require me to do on-site
		service. I will let you know when this is the case.
		If I unexpectedly need to come on site to resolve a problem, I
		will schedule a time in advance and no charge will be incurred.</p>
	</div>
	<div class="card">
		<h2>About me</h2>
		<p>I'm in high school and I have lots of experience troubleshooting
		computers. I am a software developer and have developed many
		applications from useful scripts to video games. I'm
		also a computer power-user, and I have set up everything from desktops
		to laptops to routers to servers and even embedded systems. I have experience in Windows, Mac, and
		GNU/Linux. I have electrical experience and have fixed computers from
		many hardware issues
		including BIOS failure from a lightning storm.
		<p>A full list of my
		experience (much more than listed here) can be seen below. Click a
		category to see a more detailed report.</p>
		</p>
	</div>
	<div class="card">
		<h2>Experience</h2>
		<p>My experience includes but is not limited to:
		<ul class="tiles">
			<a href="/it/hardware-diagnosis"><li>
				<h3>Hardware Diagnosis</h3>
				<ul>
					<li>Troubleshooting building a computer</li>
					<li>Lightning storm recovery</li>
				</ul>
			</li></a>
			<a href="/it/hardware-setup"><li>
				<h3>Hardware / Firmware Setup</h3>
				<ul>
					<li>Routers
					<li>Computer build help</li>
					<li>Embedded systems</li>
				</ul>
			</li></a>
			<a href="/it/software-diagnosis"><li>
				<h3>Software Diagnosis</h3>
				<ul>
					<li>Operating system issues</li>
					<li>Software program issues</li>
				</ul>
			</li></a>
			<a href="/it/software-setup"><li>
				<h3>Software Setup / Customization</h3>
				<ul>
					<li>New Computer Setup</li>
					<li>Bulk Computer Management</li>
					<li>Common Software</li>
				</ul>
			</li></a>
			<a href="/it/software-development"><li>
				<h3>Software Development</h3>
				<ul>
					<li>I will develop applications</li>
					<li>Priced differently</li>
				</ul>
			</li></a>
		</ul>
	</div>
	<div class="card">
		<h2>For more information about me, including a list of my work, visit my
			<a href="/">personal homepage</a>.</h2>
	</div>
</div>
</body>
</html>
