{% extends "it/standard.html" %}

{% block title %}Pricing - cosine's IT Work{% endblock %}

{% block head %}
	{{ super() }}
	<style>
		.slide h3 {
			padding: 5px 10px;
			margin:  5px 10px;
			font-size: 25px;
			float: left;
			background-color: #051f49;
			color: #00deff;
			box-shadow: 0 1px 2px 0 rgba(0,0,0,.26);
		}
		.slide h3 span {
			font-size: 40px;
		}
		.slide p {
			text-indent: 0px;
		}
	</style>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
	  crossorigin="anonymous"></script>
	<script src="/static/slider.js"></script>
{% endblock %}

{% block main %}
<div class="wrap">
	<div class="card">
		<h2>Pricing</h2>
		<p>Jobs can include a mix of pricing plans and you can change your
		mind for the remainder of service at any time.</p>
		<p><b>I charge $12 per hour for travel time from Kennebunk, Maine</b>.</p>
		<p>Some jobs, such as hardware jobs, will require me to do on-site
		service. I will let you know when this is the case.
		If I unexpectedly need to come on site to resolve a problem, I
		will schedule a time in advance and no charge will be incurred.</p>
	</div>
	<div class="slider card">
		<ul class="slider-nav">
			<li id="l-remote"><a href="#remote">Remote Service</a></li>
			<li id="l-setup"><a href="#setup">Remote Service with Setup</a></li>
			<li id="l-on-site"><a href="#on-site">On-site Service</a></li>
		</ul>
		<div class="slides">
			<div class="slide" id="s-remote">
				<h3>$<span>35</span>/hr</h3>
				<p>In order to recieve remote service, you must install a free,
				safe <a href="http://tightvnc.net/">remote operating
				program</a>. I will provide instructions. I will also need
				a detailed description of the problem by email or text.</p>
			</div>
			<div class="slide offscreen" id="s-setup">
				<h3>$<span>35</span>/hr + $<span>20</span></h3>
				<p>Remote service with setup requires no set up from you and
				you can describe the problem in person. I will come to the site
				and set up a service for me to remotely connect, then I will
				work on the problem from my home.</p>
			</div>
			<div class="slide offscreen" id="s-on-site">
				<h3>$<span>45</span>/hr</h3>
				<p>For on-site service I will come to
				the site to work. We will have to work out a schedule
				that is compatible with my availability.</p>
				<p>As a general rule, I am
				available <b>between 4:15PM and 11:00PM on weekdays and all day on
				weekends</b>.
			</div>
		</div>
	</div>
</div>
{% endblock %}

