<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<title>Software Setup / Customization - Luna's IT Work</title>
<link rel="stylesheet" href="/static/it.css" />
</head>
<body>
<nav><a href="/it">Luna's IT Work</a></nav>
<div class="wrap">
	<div class="card">
		<h1>Software Setup / Customization</h1>
	</div>
	<div class="card">
		<h2>New Computer Setup</h2>
		<p>I will do the basic gruntwork associated with setting up a computer,
		including Operating System installation, customization, and setup, and
		can choose any specific options given to me. I will install the
		applications listed that need to be installed, as well as basic
		applications everyone should have (Adobe Flash Player, Java, etc.)</p>
	</div>
	<div class="card">
		<h2>Bulk Computer Management</h2>
		<p>If many computers need to be set
		up, I can set them all up. I have pre-made flash drives with Windows 10,
		Debian, and more, and can make them for any operating system requested.
		I can do this far more efficiently than it would by one-at-a-time.</p>
		<p>I can also install software on all computers, or configure them all
		to connect to a network, and more.</p>
	</div>
	<div class="card">
		<h2>Email/Outlook and Other Common Software</h2>
		<p>I am familiar with many common software applications. I can help set
		up these applications, customize them, connect email accounts, POP/IMAP
		forward, and more.</p>
	</div>
	<div class="card linkback">
		<a href="/it">Back to IT home</a>
	</div>
</div>
</body>
</html>

