<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<title>Software Development - Luna's IT Work</title>
<link rel="stylesheet" href="/static/it.css" />
</head>
<body>
<nav><a href="/it">Luna's IT Work</a></nav>
<div class="wrap">
	<div class="card">
		<h1>Software Development</h1>
		<p>I will develop software. I have different pricing for this, based on
		a quote for the software needed. This is a different sort of project,
		and you'll need to contact me and stay in close contact through the
		process. If the software is expected to undergo continued development,
		the cost will be significant. If it can be released until it stops
		working for whatever reason, that can be arranged.</p>
		<p>Generally speaking, I will charge a lump sum for the project (in the
		hundreds.)</p>
	</div>
	<div class="card">
		<h2>Platforms</h2>
		<p>I have experience developing for web (HTML5), Windows, Mac, and
		GNU/Linux</p>
		<p>I have over a year of experience in these languages:</p>
		<ul style="margin-left: 30px;">
			<li>Python</li>
			<li>Web (HTML/CSS/Javascript)</li>
			<li>C and C++</li>
			<li>Java</li>
			<li>Bash</li>
		</ul>
	</div>
	<div class="card">
		<h2>Scripts</h2>
		<p>I can make small scripts to make everyday things easier.</p>
	</div>
	<div class="card">
		<h2>Website</h2>
		<p>I have experience in web development, interactive server-side and
		client-side with Python/Flask, PHP, HTML+CSS, and complex Javascript. I
		can set up servers for you including cloud hosting with Google App
		Engine or on a dedicated server of your own.
		</p>
	</div>
	<div class="card">
		<h2>In-House Corporate Tool</h2>
		<p>I can develop simple neworked or non-networked tools tailored
		specifically to your needs.</p>
	</div>
	<div class="card">
		<h2>Machine Learning</h2>
		<p>I have experience with Machine Learning, I can develop applications
		that classify images or use Natural Language Processing.</p>
	</div>
	<div class="card">
		<h2>Video Game</h2>
		<p>I have build video games 2D and 3D. See my website
		<a href="https://cosinegaming.com/">Cosine Gaming</a> for what I can do.
		</p>
	</div>
	<div class="card">
		<h1>Other</h1>
		<p>I am by no means limited to developing these sorts of applications as
		development is a mostly universal skill. These are just things that I
		have experience with. Just give me your project and I will let you know
		if I can do it.
		</p>
		<p>See <a href="/">my personal homepage</a> for a more complete list of
		my development experience. It includes a link to my
		<a href="https://github.com/CosineP/">GitHub</a> which hosts most of my
		personal projects and my
		<a href="https://github.com/CosineGaming/">Cosine Gaming GitHub</a>
		which hosts all my CG ones.
	</div>
	<div class="card linkback">
		<a href="/it">Back to IT home</a>
	</div>
</div>
</body>
</html>

