<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<title>Software Diagnosis - Luna's IT Work</title>
<link rel="stylesheet" href="/static/it.css" />
</head>
<body>
<nav><a href="/it">Luna's IT Work</a></nav>
<div class="wrap">
	<div class="card">
		<h1>Software Diagnosis</h1>
	</div>
	<div class="card">
		<h2>Operating System Issues</h2>
		<p>I have experience in every version of Windows since (and including)
		XP. I also have experience in Mac OS X. I have experience with
		GNU/Linux, specifically Debian and derived (Ubuntu, gNewSense, etc) and
		Arch (Parabola).
		</p>
	</div>
	<div class="card">
		<h2>Software Programs Issues</h2>
		<p>I have a pretty good understanding of how a lot of programs work
		because I'v dabbled in making them. I can diagnosie a recurring issue
		with a program not working and I can help out with using it.
		</p>
	</div>
	<div class="card linkback">
		<a href="/it">Back to IT home</a>
	</div>
</div>
</body>
</html>

