<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/it.css" />
	<meta name="description" content="{% block description %}{% endblock %}" />
{% endblock %}
</head>
<body>
	<nav>
		<a href="/it">Luna's IT Work</a>
		<ul>
			<li{% if page == "about" %} id="active"{% endif %}><a href="/it/about">About</a></li>
			<li{% if page == "pricing" %} id="active"{% endif %}><a href="/it/pricing">Pricing</a></li>
			<li{% if page == "experience" %} id="active"{% endif %}><a href="/it/experience">Experience</a></li>
		</ul>
	</nav>
	{% block main %}{% endblock %}
</body>
</html>
