* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fde9fc;
	color: #051f49;
	font-size: 20px;
	overflow-y: scroll;
}

nav {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.26);
}

nav > a {
	display: block;
	background-color: #00deff;
	width: 100%;
	margin: 0;
	padding: 40px 0;
	text-align: center;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.26);
	color: #051f49;
	text-decoration: none;
	font-size: 40px;
}

nav ul {
	display: block;
	background-color: #051f49;
	text-align: center;
	font-size: 25px;
}

nav li {
	display: inline-block;
	padding: 10px 5%;
}

nav #active {
	border-bottom: 3px #00deff solid;
}

nav li a {
	color: #00deff;
	text-decoration: none;
}

.linkback {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

p {
	text-indent: 50px;
}

a {
	color: #00deff;
}

.card {
	background-color: white;
	margin: 20px;
	padding: 20px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.26);
}

.wrap {
	max-width: 800px;
	margin: 0 auto;
}

.tiles {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 15px;
	box-sizing: border-box;
}

.tiles > a {
	max-width: 300px;
	width: 100%;
	color: #051f49;
	text-decoration: none;
}

.tiles > a > li {
	position: relative;
	height: 100px;
	margin: 10px 0;
	padding: 10px;
	overflow: hidden;
	text-decoration: none;
	background-color: #00deff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	transition: box-shadow 0.3s, opacity 0.3s;
}

.tiles > a > li:hover {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.26);
}

.tiles > a > li:active {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.26);
	transition: box-shadow 0.1s, opacity 0.1s, background-color 0.1s;
}

.tiles > a > li > ul {
	opacity: 0;
	transition: opacity 0.5s;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.tiles > a > li:hover > ul {
	opacity: 1;
}

.tiles > a > li:hover > h3 {
	opacity: 0;
}

.game-image {
	position: absolute;
	width: 100%;
	height: 250px;
	z-index: 1;
	background-position: center top;
	background-repeat: no-repeat;
	opacity: 1;
	transition: opacity 0.3s;
}

.game-image.incompatible {
	opacity: 0.6;
}

.game-list li:hover .game-image {
	opacity: 0.2;
}

.description {
	max-width: 600px;
	width: 100%; /* This fixes a weird fluke in IE's text-align */
	margin: 0 auto;
	text-align: center;
	/* Text on top of image */
	z-index: 2;
	color: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 0.3s, top 0.3s;
}

.game-list li:hover .description {
	opacity: 1;
	top: 50%;
}

.description h2 {
	color: #3b9ad6;
	/*color: #14115c;*/
	margin-bottom: 10px;
}

/* Slider styles like seen on pricing. See /static/slider.js for description. */
.slider {
	padding: 0 0 20px 0;
	overflow: hidden;
	transition: height 0.2s;
}
.slides {
	position: relative;
	width: 10000000px;
	transition: margin-left 0.2s;
}
.slides > div {
	float: left;
	padding-left: 20px;
	max-width: 720px; /* The width of card, change if changed */
}
.slider-nav {
	display: block;
	background-color: #00deff;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	white-space: nowrap;
	overflow-x: hidden;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.slider-nav li {
	display: inline-block;
	padding: 10px 2%;
}
.slider-nav .active {
	border-bottom: 3px #051f49 solid;
}
.slider-nav a {
	color: #051f49;
	text-decoration: none;
}
.slide {
	position: relative;
	overflow-x: hidden;
	display: inline-block;
}
