<!doctype HTML>
<html>
	<head>
	<title>Luna Phipps-Costin</title>
	<script
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
		crossorigin="anonymous"></script>
	<script src="/static/shiny-text.js"></script>
	<link rel="stylesheet" href="/static/shiny-text.css">
	<style>
		li {
			margin: 1em 0;
		}
	</style>
	</head>
	<body>
		<h1><a class="wild" href="/resume">Luna Phipps-Costin</a></h1>
		<ul class="big-text">
			<li>
				<a class="wild" href="https://cosinegaming.com">Cosine Gaming</a>
				(<a class="wild" href="https://cosinegaming.com/blog/">Blog</a>
				/ <a class="wild" href="https://cosinegaming.com/questions">Questions</a>)
			</li>
			<li>
				<a class="wild" href="https://github.com/CosineP/">GitHub</a>
				(<a class="wild" href="https://github.com/CosineGaming/">CG GH</a>)
			</li>
			<li><a class="wild" href="https://bugzilla.mozilla.org/user_profile?login=judahiii%40gmail.com">Bugzilla</a></li>
			<li><a class="wild" href="/it">IT Work</a></li>
			<li><a class="wild" href="https://docs.google.com/document/d/1FFhl595LU_2veIo6fNGm70MH2Swe17g8zqYImwFWHQY/edit">Activities</a></li>
			<li><a class="wild" href="/home">Personal</a></li>
		</ul>
		<h2 class="duplicated">Contact</h2>
		<ul class="big-text">
			<li>
				<a class="wild" href="mailto:lucidlyluna@gmail.com">lucidlyluna@gmail.com</a>
			</li>
			<li>(207)-602-9828</li>
		</ul>
		<h2 class="duplicated">More</h2>
		<p style="margin-top: 30px;">
			<i>Sometimes, when I have time, more often when I don't, I make stuff.</i>
		</p>
		<p>
			I'm Luna, high schooler and
			<a href="https://stallman.org/articles/on-hacking.html">hacker</a>,
			also known on the web as Cosine (or CosineP).
		</p>
		<h2 class="duplicated">
			License: <a href="https://www.gnu.org/licenses/gpl-3.0-standalone.html">GPLv3</a>
		</h2>
		<p>
			<i>
				This site is <a href="https://www.gnu.org/philosophy/free-sw.html">free software</a>.
				You can view the <a href="https://github.com/CosineP/lpc">source</a>
				on GitHub.
			</i>
		</p>
		<p class="duplicated">This text effect is inspired by <a href="http://www.billwurtz.com/">Bill Wurtz</a>.
		</p>
	</body>
</html>
